<footer>
    <div class="brand">
      <span class="jti">JTI</span><span class="sq"></span><span class="full">Jungle&nbsp;Travels&nbsp;India</span>
    </div>
    <p class="links"><a href="https://www.instagram.com/jungletravelsindia">Instagram</a> &middot; <a href="/tours/">Journeys</a> &middot; <a href="/#enquire">Contact</a></p>
    <p class="fine">Jungle Travels India &middot; [Your address] &middot; &copy; 2026 &middot; <a href="/#" style="color:#9A9182;">Privacy</a></p>
  </footer>