<div class="topbar"><div class="wrap"><div class="t-left"><span>Family-run since 1989</span> &nbsp;·&nbsp; National Tourism Award winner</div><div class="t-right">Speak to a specialist &nbsp;·&nbsp; <a href="tel:+919209200013">+91 920 920 0013</a></div></div></div>

  <header class="nav"><div class="wrap">
    <a class="brand" href="/"><span class="jti">JTI</span><span class="sq"></span><span class="full">Jungle Travels India</span></a>
    <nav class="menu">
      <a href="/">Home</a>
      <a href="/tours/">Journeys</a>
      <a href="/#parks">Parks</a>
      <a href="/#fieldnotes">Field Notes</a>
      <a class="enquire" href="#enquire">Enquire</a>
    </nav>
    <div class="burger"><span></span><span></span><span></span></div>
  </div></header>